// Colors
$header-background: #8cc63f;
$megatron-background: #399cc6;
$megatron-font-color: #ffffff;
$footer-background: #50515a;
$action-blue: #068dba;
$white-text: #eeebe1;
$blue-text: #003366;

// Font Sizes - headings
$h1-font-size: 36px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 13px;

// Font Sizes - body
$text-font-size: 16px;
$body-font-size: 14px;

