/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

//Import constants 
@import "common/constants";

//Import bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design-rails";

//Now import additional stylesheets
@import "footer";
@import "header";

.container {
  margin-top: -20px;
}

.form-button-group {
  margin-left: 1px;
  margin-right: 1px;
}

.sortable {
  cursor: pointer;
}

.megatron {
  background-color: $megatron-background;
  margin: 12px;
  padding: 20px;
  & h1 {
    color: $megatron-font-color;
    font-size: $h1-font-size;
  }
}

.form-group {
  & .form-control {
    width: 95%;
  }
}

.flat-butt {
  display: inline-block;
  margin: 0 5px;
  border-radius: 0px;
  font-family: "Lato", sans-serif;
  font-size: 16.5px;
  padding: 12px 20px;
  border: 0;
  background: #34495E;
  color: #FFF;
  cursor: pointer;
  outline: 0;
  & :hover {
    background: #005580;
  }
}

.flat-butt-md {
  display: inline-block;
  margin: 0 1px;
  border-radius: 0px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 6px 8px;
  border: 0;
  background: #34495E;
  color: #FFF;
  cursor: pointer;
  outline: 0;
  & :hover {
    background: #005580;
  }
}

.flat-butt-sm {
  display: inline-block;
  margin: 0 3px;
  border-radius: 0px;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  padding: 5px 8px;
  border: 0;
  background: #34495E;
  color: #FFF;
  cursor: pointer;
  outline: 0;
  & :hover {
    background: #005580;
  }
}

.flat-primary-butt {
  background: #1abc9c;
  & :hover {
    background: #2fe2bf;
  }
}

.flat-info-butt {
  background: #3498db;
  & :hover {
    background: #5dade2;
  }
}

.flat-danger-butt {
  background: #e74c3c;
  & :hover {
    background: #ec7063;
  }
}
