<div class="container-fluid header">
  <div class="row">
    <div class="col-md-8">
      <h2>This is the header</h2>
    </div>
    <div class="col-md-4">
      <ul>
        <li>
          <a href="/people ">Sign Up</a>
        </li>
        <li>
          <a href="#">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</div>